<div class ="full-profile-container">
  <div class = "full-profile-topPane">
    <div class = "full-profile-avatar-div">
      <img class = "full-profile-avatar" src="https://ca.slack-edge.com/T5XE8732R-U5XE898EN-d1565b4dc70a-1024" />
    </div>
    <div class = "full-profile-basicInfo">
      <p class = "full-profile-name">
          Jenifer Sebastian
      </p>
      <p class = "full-profile-jobDescription">
          Associate Sol. Specialist
      </p>
    </div>
  </div>
    <div class = "full-profile-bottomPane">
    <div class = "full-profile-bio">
      <p class = "full-profile-bioText">
        'Hey everyone! My name is Jenifer Sebastian, I go by Jen! I'm from Houston. I graduated from the University of Houston in 2015. I have experience with JavaScript as well as Java. Im also familiar with the Ionic Framework.'
      </p>
      <div class = "full-profile-contact">
        <p class = "full-profile-contactName">

        </p>
        <p class = "full-profile-contactEmail">
          Feel free to contact me <br>
          email: jeniferseb@gmail.com

        </p>
      </div>
    </div>
  </div>

</div>

<!-- <div *ngIf="profile">
  <h2>{{profile.name}} details!</h2>
  <div><label>id: </label>{{profile.id}}</div>

</div> -->
