<div class ="full-profile-container">
  <div class = "full-profile-topPane">
    <img class = "full-profile-cover-photo" src = "{{coverPhoto}}"/>
    <div class = "shadow">

    </div>
    <div class = "full-profile-avatar-div">
      <img class = "full-profile-avatar" src="{{img}}" />
    </div>
    <div class = "full-profile-basicInfo">
      <p class = "full-profile-name">
          {{name}}
      </p>
      <p class = "full-profile-jobDescription">
          {{position}}
      </p>
    </div>
  </div>
    <div class = "full-profile-bottomPane">
    <div class = "full-profile-bio">
      <p class = "full-profile-bioText">
{{bio}}
      </p>
      <div class = "full-profile-contact">
        <p class = "full-profile-contactName">

        </p>
        <p class = "full-profile-contactEmail">
          Feel free to contact me <br>
          email: {{email}}

        </p>
      </div>
    </div>
  </div>

</div>

<!-- <div *ngIf="profile">
  <h2>{{profile.name}} details!</h2>
  <div><label>id: </label>{{profile.id}}</div>

</div> -->
