$amber: #ffa000;

.grey-sheet {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 2;
}

.forum-question-modal{

  top: 30%;
  left: 25%;
  z-index: 5;
  width: 50%;
  height: 50%;
  border: .5px solid black;
  position: absolute;
  background: white;


  .name-label-input{
    width: 100%;
    padding-bottom: 10px;
    .name-label{
      float:left;
      width: 100%;
    }

    .forum-name-area{
      border-left: 1px solid $amber;
      border-bottom: 1px solid $amber;
      border-right: none;
      border-top: none;
      padding-left: 5px;
      width: 80%;
    }

    .modal-exit-btn{
      font-size: 3rem;
      background-color: transparent;
      border: none;
      position:absolute;
      top: 0;
      right: 3%;

    }
  }

  .forum-question-modal-content{
    padding: 5%;
    height: 100%;
    width: 100%;

    .forum-question-area{
      margin-top: 20px;
      height: 80%;
      padding-bottom: 10%;

      .question-label{
        float: left;
        padding-right: 10px;
      }
      .forum-question-modal-question-area{
        resize: none;
        width: 90%;
        height: 90%;
        margin-left: 10px;
        border-left: 1px solid $amber;
        border-bottom: 1px solid $amber;
        border-right: none;
        border-top: none;
        background: #f2f3f4;
        float: left;
      }
    }
    .modal-submit-button{
      border-radius: 5px;
      background: white;

      background-color: transparent;
      border: none;
      position: absolute;
      top: 90%;
      right: 10%;
    }
  }
}






@media only screen and (min-width: 320px) and (max-width: 600px){ //phones
  .forum-question-modal{
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    font-size: 20px;
    .forum-question-modal-content{
      .forum-question-area{
        .forum-question-modal-question-area{
          height: 85%;
        }
      }
    }
  }
}

@media only screen and (min-width: 620px) and (max-width: 900px){
  .forum-question-modal{
    .forum-question-modal-content{
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px){ //tablet but really ipad pro because its a bastard
  .forum-question-modal{
    .forum-question-modal-content{
      font-size: 30px;
    }
  }
}


@media only screen and (min-width: 1600px) and (max-width: 2000px){
  .forum-question-modal{
    .forum-question-modal-content{
      font-size: 30px;
    }
  }
}
