
.forum-question-modal{
  top: 40%;
  left: 15%;
  z-index: 1;
  width: 70%;
  height: 40%;
  border: 2px solid green;
  position: absolute;
  background: lightblue;

  .forum-question-modal-content{
    height: 100%;
    width: 100%;
    .forum-question-modal-question-area{
      resize: none;
      width: 80%;
      height: 50%;
      margin-left: 10%;
    }
  }
}
