
  <div class="forum-container-header">
    <div class="forum-container-header-text">
      Ask Us Anything
    </div>
  </div>
  <!-- <div style="height: 50px; background-color: black;">
    <h1>Ask Us Anything</h1>
  </div> -->
  <div class="forum-add-post-btn-div">
    <a class="btn btn-default forum-add-post-btn" (click)="openQuestionCreation()">+</a>
  </div>

  <div class="forum-container">
    <div>
      <forum-message *ngFor="let question of currentQuestions; let i = index" [message]=question.question [user]=question.name [responses]=question.responses [index]=i></forum-message>
    </div>
  </div>

  <div>
    <forum-question-modal [display]="displayModal" [questions]=currentQuestions></forum-question-modal>
  </div>


  <!-- <div>
    <button (click)="openForumModal()">Add Post</button>
    <div *ngIf="true" style="height: 500px; border: 2px solid orange;">
      This is the area for modal
      <forum-modal></forum-modal>
      <forum-question-modal></forum-question-modal>
    </div>
  </div> -->
