<div>
  <h1>Here is a display of all messages</h1>
  <div>
    <forum-message [message]="message"></forum-message>
    <forum-message [message]="message"></forum-message>
    <forum-message [message]="message"></forum-message>
    <forum-message [message]="message"></forum-message>
    <forum-message [message]="message"></forum-message>
    <forum-message [message]="message"></forum-message>
    <forum-message [message]="message"></forum-message>
    <forum-message [message]="message"></forum-message>
    <forum-message [message]="message"></forum-message>
  </div>
  <div>
    <button (click)="openForumModal()">Add Post</button>
    <div *ngIf="true" style="height: 500px; border: 2px solid orange;">
      <forum-modal></forum-modal>
    </div>
  </div>
</div>
