<div>
  <div style="background-color: black; height: 100px;">
  </div>
  <h1>Here is a display of all messages</h1>
  <div>
    <forum-message *ngFor="let question of QUESTIONS" [message]=question.question [user]=question.name></forum-message>
  </div>
  <div>
    <button (click)="openForumModal()">Add Post</button>
    <div *ngIf="true" style="height: 500px; border: 2px solid orange;">
      This is the area for modal
      <forum-modal></forum-modal>
      <!-- <forum-question-modal></forum-question-modal> -->
    </div>
  </div>
</div>
