<div *ngIf="selectedUser" class="forum-message-modal">

  <p class="forum-modal-header">Respond to {{selectedUser}}:</p>
  <button class="modal-exit-btn" style="float: right;" (click)="remove()">x</button>
  <div class="forum-message-modal-content">

    <br />
    <textarea id="responseID" class="forum-message-modal-response-area" placeholder="Enter response"></textarea>
    <!--add values to array-->
    <button class="modal-response-button" (click)='addResponse()'>SUBMIT</button>

  </div>

</div>

<div [ngClass]="{'grey-sheet':selectedUser}" (click)="remove()"></div>
