<div *ngIf="selectedUser" class="forum-message-modal">
  <div>
    <p style="float: left; font-size: 20px;">Respond to {{selectedUser}}:</p>
    <button style="float: right;" (click)="remove()">x</button>
  </div>
  <div class="forum-message-modal-content">

    <br />
    <textarea id="responseID" class="forum-message-modal-response-area" placeholder="Enter response"></textarea>
    <!--add values to array-->
    <button class="modal-response-button" (click)='addResponse()'>SUBMIT</button>

  </div>

</div>

<div [ngClass]="{'grey-sheet':selectedUser}"></div>
