
$siriusBlue: #1a237e ;




.sideNavBar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    margin:auto;
    background-color: white; /* SiriusBlue*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    // display: none;

}

/* The navigation menu links */
.sideNavBar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border:none;
}

.sideNavBar .closebtn {
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 80%;
    padding-top: 0;
}
.hamburgerButton{
  position: absolute;
  background-color: transparent;
  height: 40px;
  font-size: 20px;
  z-index: 5;
  top: 0;
  padding-left: 40px;
  padding-top: 30px;
}

.fa-bars{
  position: absolute;
  margin: auto;
  color:white;
}
