

  <div class="hamburgerButton">
  <i (click)="openNav()"class="fa fa-bars" aria-hidden="true"></i>
</div>


  <div id="sideNavBar" class="sideNavBar">

    <div>
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <img class = "sideNavBarPicture" src="http://forum.ucweb.com/data/attachment/forum/201602/08/131229b58v5ac8azaoaan2.png" />
    </div>
    <a href="#">Home</a>
    <a href="./profile-list">Our Team</a>
    <a href="./forum">Forum</a>
  </div>
  <router-outlet></router-outlet>
