<div class="profileListTopPane">
  <div class="profileListGreetingsWrapper">

   <div class="profileGreeting">
      Our Team
    </div>

 </div>
</div>

<div class="profileListBottomPane">
  <div class='profileListContainerTitle'>Directors</div>
  <div class="personListContainer">
    <div (click) = onselect(director) *ngFor="let director of myDirectors" class="individualProfile">
      <div class="profileListAvatar">
        <img src="{{director.imgUrl}}" alt="profilePicture">
      </div>
      <div class="profileTextDiv">


       <div class="profileListName">
          {{director.name}}
        </div>
        <div class="profileListTitle">
          {{director.position}}
        </div>
      </div>
    </div>


   <div class="profileListContainerTitle">2017 Team</div>
    <div class="personListContainer">

     <div (click) = onselectStudents(employee) *ngFor="let employee of myEmployees" class="individualProfile">
        <div class="profileListAvatar">
          <img src="{{employee.imgUrl}}" alt="profilePicture">
        </div>
        <div class="profileTextDiv">


          <div class="profileListName">
            {{employee.name}}
          </div>
          <div class="profileListTitle">
            {{employee.position}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
