$siriusBlue: #1a237e ;

.homeTopPane {
  height: 45vh;
  width: 100%;
  margin: auto;
  background-color: black;
  color: white;
  text-align: center;

  .greetingsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15vh;

    .homeGreeting {
      height: 100px;
      margin: auto;
      font-weight: bold;
      font-size: 5rem;
      border-bottom: solid 5px #FFa000;
    }

    .homeSubGreeting {
      padding-top: 10px;
      font-size: 3rem;
      margin:auto;
    }
  }
}

.homeBottomPane{
  min-height: 55vh;
  height:100%;
  width: 100%;
  font-size: 2.5rem;
  margin: auto;
  background-color: $siriusBlue;
  color:white;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 15vh;
  .bulletedSummary{
    height: auto;
    width: 600px;
    text-align: left;
    padding: 20px;
  }
  .homeParagraphBio{
    height: auto;
    width: 600px;
    padding: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .homeTopPane {

    .greetingsWrapper {


      .homeGreeting {
        font-size: 3.5rem;
        border-bottom: solid 3px #FFa000;
      }

      .homeSubGreeting {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .homeTopPane {
      height: 35vh;
    .greetingsWrapper {


      .homeGreeting {
        height: 40px;
        font-size: 2rem;
        border-bottom: solid 3px #FFa000;
      }

      .homeSubGreeting {
        font-size: 1.2rem;
      }
    }
  }
  .homeBottomPane{
    min-height: 65vh;
    font-size: 1.75rem;
    padding-top: 3vh;
    .bulletedSummary{
      height: auto;
      width: 600px;
      text-align: left;
      padding: 20px;
    }
    .homeParagraphBio{
      height: auto;
      width: 600px;
      padding: 20px;
    }
  }




}
