$siriusBlue: #1a237e ;

.homeTopPane {
  height: 55vh;
  width: 100%;
  margin: auto;
  background-color: black;
  background: url("https://assets.fastcompany.com/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2017/05/p-1-what-to-do-when-the-biggest-office-distraction-is-your-coworkers.jpg");
  background-size: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
  color: white;
  text-align: center;

  .greetingsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15vh;


    .homeGreeting {
      height: 100px;
      margin: auto;
      font-weight: bold;
      font-size: 7rem;
      border-bottom: solid 5px #FFa000;
      .aceItalics {
        font-style: italic;
      }
    }

    .homeSubGreeting {
      padding-top: 10px;
      font-size: 3rem;
      margin:auto;
    }
  }
}
ul {
  list-style-type: none;
}

li {
  padding-bottom: 15px;
  color: gray;
}

.homeBottomPane{
  min-height: 55vh;
  height:100%;
  width: 100%;
  font-size: 2.5rem;
  margin: auto;
  background-color: white;
  color:black;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10vh;
  border-bottom: solid 2px lightgray;
  border-left: solid 2px lightgray;
  border-right: solid 2px lightgray;
  .bulletedSummary{
    height: 250px;
    width: 600px;
    text-align: left;
    // padding: 20px;
    padding-left: 0px;
    padding-top:5px;
    border-left: solid 2px lightgray;
  }
  .homeParagraphBio{
    height: 270px;
    width: 600px;
    padding: 20px;
    border-left: solid 2px lightgray;
  }
}

@media only screen and (max-width: 900px) {
  .homeTopPane {

    .greetingsWrapper {


      .homeGreeting {
        padding-top: 25px;
        font-size: 4.5rem;
        border-bottom: solid 3px #FFa000;
      }

      .homeSubGreeting {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .homeTopPane {

    .greetingsWrapper {


      .homeGreeting {
        padding-top: 50px;
        font-size: 3.5rem;
        border-bottom: solid 3px #FFa000;
      }

      .homeSubGreeting {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .homeTopPane {
      height: 35vh;
    .greetingsWrapper {


      .homeGreeting {
        padding-top: 10px;
        height: 40px;
        font-size: 2rem;
        border-bottom: solid 3px #FFa000;
      }

      .homeSubGreeting {
        font-size: 1.2rem;
      }
    }
  }
  .homeBottomPane{
    min-height: 65vh;
    font-size: 1.75rem;
    padding-top: 3vh;

    .bulletedSummary{
      height: 100%;
      width: 600px;
      text-align: left;
      padding: 20px;
    }
    .homeParagraphBio{
      height: auto;
      width: 600px;
      padding: 20px;
    }
  }




}
