<div class="homeTopPane">
  <div class="greetingsWrapper">

    <div class="homeGreeting">
      We ACE'd It. You Can Too.
    </div>
    <div class="homeSubGreeting">
      Welcome to Sirius!
    </div>
  </div>
</div>
<div class="homeBottomPane">
  <div class="bulletedSummary">
    <ul>
      <li>
        Taught by seasoned consultants
      </li>
      <li>
        1 on 1 Mentor Meetings to ensure success
      </li>
      <li>
        Small class size : 5-10 individuals
      </li>
      <li>
        Full salary and benifits during training
      </li>
      <li>
        Family Atmosphere
      </li>
    </ul>
  </div>
  <div class="homeParagraphBio">
    We look for candidates who share in the same values we have. Our employees value respect, are driven towards superior client
    satisfaction, seek excellence in all that they do, enjoy forming true partnerships with others in the industry, have sound economics
    in what they do, and enjoy serving the community.



  </div>
</div>
